{% extends 'base.html' %}
{%block title%} Home {%endblock title%}
{%block body%}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner"style="background-color:#FFFAF0">
    <div class="carousel-item active">
      <img src="/static/img/c.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/c2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/c3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container-fluid"style="background-color:#FFFAF0" >
<h2 class ="my-2 text-center"> Funeral services </h2>
<h4 class ="my-2 text-center"> We at funeral services provide end to end solutions for post-death related rites with Our hearse vans, superior crematorium services, and priests. </h4>      
<h6 class ="my-2 text-center"> According to the traditional theory, life on earth came into existence due to these components. These 5 components are unit believed to be the basis for the creation of all cosmic rays. To know why this was chosen as a funeral services logo read more.</h6>
<h6 class="fst-italic">
<p class="fw-bold">Body as Earth:</p>We have a tendency to owe our existence to our frame. this can be why the traditional folks referred to the Body because the Earth part, as a result of our life is on Earth.
<p class="fw-bold">Mind as Water: </p>
70% of the world is water and therefore the same goes for anatomy, but this mind isn’t solid just like the Body. The mind can also flow backward in time and discovery in time.
<p class="fw-bold">Intelligence as Fire :</p>
Our mind flows forward to the long-term or backward to the past, the foremost vital attribute of Intelligence is that it pulls the mind inward to the current moment, the Being, the attention. The intelligence ignites or fuses the Mind to the inner Awareness.
<p class="fw-bold">Awareness as Air:</p>
Air is vital to sustain life. Awareness that we have a tendency to feel as liveliness is that the subtlest Energy kind. Awareness-energy also condenses to make the mind and body.
<p class="fw-bold">Consciousness as Sky:</p>
The clear blue sky acts as a shelter to the world within the day. Everything exists in Consciousness, the living, the dead, the moving the immobile, the little the large.
</h6> 
</div>
{%endblock body%}