{% extends 'base.html' %}
{%block title%}Services {%endblock title%}
{%block body%}
<div class="container-fluid"style="background-color:#FFFAF0">
<div class="carousel-item active">
  <img src="/static/img/s1.png" class="d-block w-100" alt="...">

<div class="card text-center">
  <div class="card-header">
    DEAD BODY VAN
  </div>
  <div class="card-body">
    <h5 class="card-title">FUNERAL PLANNING FOR YOUR LOVED ONE IN YOUR CITY</h5>
    <p class="card-text">dead body carrier vehicles, hearse van, freezer boxes, funeral helpers and shraadh priests</p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    DEAD BODY TRANSPORT
  </div>
  <div class="card-body">
    <h5 class="card-title">TRANSFER OF HUMAN REMAINS ANYWHERE ACROSS THE WORLD</h5>
    <p class="card-text">Our trained executives guide you in documentation and clearances involved in the transport of human remains</p>
    <a href="#" class="btn btn-primary">Book Now</a>
</div>
</div>

<div class="card text-center">
  <div class="card-header">
    PRE-PLANNING A FUNERAL
  </div>
  <div class="card-body">
    <h5 class="card-title">PLAN AHEAD FOR THE MOST UNEXPECTED EVENT OF LIFE</h5>
    <p class="card-text">Relieve your family from worrying about the nuances of funeral planning much ahead in life.</p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>
</div>
{%endblock body%}